
* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html {
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.main_background {
    background-image: url("https://images.unsplash.com/photo-1510935813936-763eb6fbc613?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1478&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 100vh;
}

h1.portfolio {
    padding-top: 220px;
    padding-bottom: 20px;
    font-family: "Moon Dance";
    font-size: 50px;
}

div.start {
    padding-bottom: 545px;
}

h1.me {
    padding-top: 40px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

h3.intro{
    padding-bottom: 20px;
    text-align: center;
}

li.nav {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-family: Helvetica;
}

li.nav:hover{
    background-color: lightblue
}

footer {
    padding: 1rem;
    text-align: center;
    width: 100%;
    background-color: rgb(212, 152, 40);
    margin-top: auto;
}

div.intro_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.intro_contentarea {
    text-align: center;
}

a {
    text-decoration: none;
}

.res_head {
    text-align: center;
    margin-bottom: 50px;
}

.res_draw, .res_paint{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

div.image1 p{
    width: 700px;
    text-align: center;
    background-image: url("/Images/home_page1.jpg");
}

